<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>811D9153-8BA3-0151-F9CE-16269C14D60B</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
